.checkbox-input {
  /* Checkbox input styles */
  margin-bottom: .5rem;
  
}

.checkbox-label {
  /* Checkbox label styles */ 
  font-size: 1rem;
  color: #727272;
  margin-left: 1rem;
  margin-bottom: .5rem;
}