@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

.text-theme-color {
    color: #6255a4;
}

.banner-title {
    line-height: 70px !important;
}

.banner-wrap {
    height: 490px;
}

@media screen and (max-width:768px) {
    .banner-title {
        line-height: 42px !important;
    }
}

.community-banner-bg {
    background-color: #f2fff7;
}