.homepage-banner{
  color: #4e4a66;
    margin-top: 6px;
      height: 650px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      
}

@media screen and (max-width:768px) {
  .homepage-banner {
          // height: 430px;
          height: 250px;
      }
}



.banner-serach-bar{
  width: 310px;
}
@media screen and (min-width:1208px) {
  .banner-serach-bar {
          width: 360px;
      }
}

.serach-banner-title{
  line-height: 64px !important;
}

@media screen and (max-width:768px) {
.serach-banner-title {
      height: 100px;
      line-height: 12px !important;
  }
}